[user]
        email = egemenkopuz@hotmail.com
        name = Egemen Kopuz
[init]
	defaultBranch = main
[safe]
	directory = /root/workspace
	directory = /root/workspace/py
	directory = /root/dotfiles
