[gpg]
    program = gpg

[user]
    email = egemenkopuz@hotmail.com
    name = Egemen Kopuz
    signingkey = ECFA76CC0DA4B634D6511DA52E42738DAC09603A

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true

[pull]
    ff = only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
