[include]
    path = ~/.config/git/themes.gitconfig

[gpg]
    program = gpg


[init]
    defaultBranch = main

[commit]
    gpgsign = false

[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = collared-trogon
    navigate = true
    light = false
    side-by-side = true
    paging = never

[pull]
    ff = only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
